<div class="container ">
  <div class="row">
    <div class="col">

      <app-date></app-date>
      <h3></h3>
    </div>
    <div class="col">
      <app-gallery></app-gallery>
    </div>
    <div class="row">
      <div class="col">

        <h3>{{hotel.accommodation}}</h3>
        <h2></h2>



        <app-properties></app-properties>
      </div>

    </div>
    <div class="row">
      <app-rooms ></app-rooms>
    </div>
    <div class="row">
      <app-comments></app-comments>
    </div>
  </div>

</div>





