<p></p>
<ng-container >
  <h2></h2>
  <div class="container my-2">
    <div class="row my-1">
      <div class="col-4">
        <div class="card" style="width: 50rem;">
            <div class="card-header">
              Légkondicionált kétágyas szoba (pótágyazható)
            </div>
          <div class="col-2">
          <img src="assets/honey04.jpg" alt="kep" class="rounded float-left img-thumbnail" >
          </div>
          <div class="row">
            <div class="card-body">
              <p class="card-text">Férőhelyek száma   {{hotel.accommodation}}  </p>

              <p class="card-text">Tulajdonságok: </p>
                <div *ngFor=" let properti of hotel.properties">
                  <p> - {{properti}}</p>
                </div>
              </div>
              </div>
            </div>
            </div>
          </div>
      </div>
</ng-container>




