<ng-container >
  <div *ngFor="let hotel of hotels " >
<div class="container my-2">
  <div class="row my-1">
    <h3></h3>
    <div class="col-4">
      <div class="card" style="width: 50rem;">
        <img src="assets/{{hotel.picture}}" class="galleryImage" alt="{{hotel.name}}" >


        <div class="card-body  border-5 border-dark">
          <h1 class="card-title">{{hotel.name}}</h1>

          <p class="card-text">{{hotel.pricing}},{{hotel.description}}</p>
          <a  (click)="onClick(hotel._id)" routerLink="hotel/{{hotel._id}}"  class="btn btn-primary">Foglalj Most!</a>
        </div>

      </div>
    </div>
  </div>
</div>
  </div>
  <ng-template>
    <app-booking ></app-booking>
  </ng-template>

</ng-container>


