<!--

  <div class="container m">
            <h4>Datum kiválasztás</h4>
            <div class="row">
              <div class="col-3">
                <mat-form-field appearance="fill" class="example-form-field">
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input [rangePicker]="rangePicker" [formGroup]="dateRange">
                    <input matStartDate formControl="start" placeholder="Start date">
                    <input matEndDate  formControl="end"  placeholder="End date">
                  </mat-date-range-input>
                  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix [for]="rangePicker">
                  </mat-datepicker-toggle>
                  <mat-date-range-picker #rangePicker>
                    <mat-date-range-picker-actions>
                      <button mat-button matDateRangePickerCancel>Mégsem</button>
                      <button mat-raised-button color="primary" matDateRangePickerApply>Foglalás</button>
                    </mat-date-range-picker-actions>
                  </mat-date-range-picker>
                </mat-form-field>
              </div>
              <h4>Start:{{dateRange.value.start | date}}
                  End :{{dateRange.value.end | date}}
              </h4>

            </div>

  </div>
-->
<h2>Angular Date Range Picker Demo</h2>
<mat-form-field (submit)="calculateDays()">
  <mat-label>Choose Date Range</mat-label>
  <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
    <input matStartDate formControlName="start" [(ngModel)]="startDate" placeholder="Start Date">
    <input matEndDate formControlName="end"  [(ngModel)]="endDate "    placeholder="End Date">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
<h2>
  Start: {{dateRange.value.start | date}}
  <br>
  End: {{dateRange.value.end | date}}
</h2>
<button (click)="calculateDays()">Ár</button>
<button (click)="reservation() " *ngIf="userAuthenticated">Foglalás</button>
<h3>Ár:  {{days * hotel.pricing}} € </h3>
