
<div class="container  border-2">

<div class="row">
  <div class="col-9 justify-content-center fl">Hotel MUJEN LUX - Apartman Lapčević is located in Kopaonik and offers a restaurant and a bar. This apartment provides free private parking, room service and free WiFi.

    The apartment with a terrace and mountain views features 1 bedroom, a living room, a flat-screen TV, an equipped kitchen with a fridge and an oven, and 1 bathroom with a shower. For added convenience, the property can provide towels and bed linen for an extra charge.

    The reception at the apartment can provide tips on the area.

    If you would like to discover the area, skiing is possible in the surroundings.,
  </div>
    <div class="row">
<div class="col-6 col-sm-3">ingyenes parkolás</div>
<div class="col-6 col-sm-3">éjjel-nappali recepció</div>

<!-- Force next columns to break to new line -->
  <div class="w-100"></div>

<div class="col-6 col-sm-3">(45) m² Méret</div>
<div class="col-6 col-sm-3">Ingyenes Wifi</div>
  </div>
</div>
</div>

